@white: #fff;
@black: #000;
@Grey: #f2f2f2;

@bgBlue: #80b2d1;
@bgGrey: #eeeeee;
@bgNav: #81b3d2;
@subGrey: #333333;
@navBorderTop: #9ac2db;
@navBorderBottom: #678fa8;
@photoBorderTop: #e5e5e5;
@navHov: #669ec0;
@navDown: #5496bd;
@navHovF: #a3c7de;
@navDownF: #c7c7c7;
@navAct: #766357;
@navActHov: #604e43;
@navActDown: #d6d0cc;
@inputHov: #e5e5e5;
@inputDown: #d5d5d5;
@photoGrey: #eaeaea;
