.PTSans();
.PTSansBold();

.body {

  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: @white;
  align-items: center;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1239px) {

  .body {
      width: 768px;
  }
}

@media (min-width: 1240px) {

  .body {
      width: 1200px;
  }
}
