.PTSans();
.PTSansBold();

.body {
<<<<<<< HEAD
<<<<<<< HEAD
  padding: 0;
  margin: 0;
}
=======
=======

>>>>>>> 272e74cf0eb883ac7b407ac39b6f253b45b70f86
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: @white;
  align-items: center;

  &__wrapper {
    width: 320px;
  }
}

@media (min-width: 768px) and (max-width: 1240px) {

  .body {
    &__wrapper {
      width: 768px;
    }
  }
}

@media (min-width: 1240px) {

  .body {
    &__wrapper {
      width: 1200px;
    }
  }
}
<<<<<<< HEAD
>>>>>>> module4-task1
=======
>>>>>>> 272e74cf0eb883ac7b407ac39b6f253b45b70f86
