.comforts {
  background-color: @white;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  padding-top: 15px;

  &__desktop {
    display: none;
  }

  &__item {
    padding: 0px;
    margin-top: 0px;
    display: inline-block;
    margin-bottom: 7px;
  }

  &__name {
    margin-top: 5px;
    margin-left: 70px;
    display: flex;
    position: relative;
  }

  &__icon {
    position: absolute;
    display: inline-block;
    height: 38px;
    width: 38px;

    &--house {
      left: -48px;
      bottom: 13px;
    }

    &--gift {
      left: -48px;
      bottom: 14px;
    }

    &--burger {
      left: -51px;
      bottom: 9px;
    }
  }

  &__title {
    display: inline-block;
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
    line-height: 26px;
  }

  &__description {
    display: block;
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    line-height: 21px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    margin-left: 50px;
    color: @subGrey;
  }
}

@media (min-width: 768px) and (max-width: 1239px) {

  .comforts {
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding-top: 0px;
    padding-bottom: 0px;

    &__desktop {
      display: none;
    }

    &__icon {
      height: 75px;
      width: 75px;
      left: 47px;
      bottom: 68px;
    }

    &__item {
      margin-top: 102px;
      width: 170px;
    }

    &__item--house {
      order: -1;
    }

    &__item--gifts {
      order: 1;
    }

    &__name {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    &__title {
      font-size: 21px;
      padding-top: 40px;
    }

    &__description {
      margin-top: 3px;
      padding: 0;
      width: 163px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 25px;
    }
  }
}

@media (min-width: 1240px) {

  .comforts {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;

    &__desktop {
      display: block;
    }

    &__icon {
      width: 75px;
      height: 75px;
      left: 104px;
      bottom: 69px;
    }

    &__item--house {
      order: -1;
    }

    &__item--gifts {
      order: 1;
    }

    &__item {
      display: flex;
      flex-direction: column;
      margin-top: 14px;
    }

    &__name {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      margin-top: 113px;
    }

    &__title {
      font-size: 21px;
    }

    &__description {
      margin: 0;
      padding: 0;
      text-align: center;
      padding: 0;
      text-align: center;
      margin-top: 4px;
      width: 285px;
      margin-bottom: 45px;
    }
  }
}
