.facts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3px;
  align-items: center;

  &__triangle {
    width: 325px;
    position: absolute;
    top: 2px;
  }
}

@media (min-width: 768px) and (max-width: 1240px) {

  .facts {

    padding-top: 0px;

    &__triangle {
      display: none;
    }
  }
}

@media (min-width: 1240px) {

  .facts {
    padding-top: 0px;
    
    &__item {
      height: 259px;
    }

    &__triangle {
      display: none;
    }
  }
}
