.facts {
  position: relative;
<<<<<<< HEAD
<<<<<<< HEAD

  &__triangle {
    position: absolute;
    top: -4px;
  }
}
=======
=======
>>>>>>> 272e74cf0eb883ac7b407ac39b6f253b45b70f86
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3px;
  align-items: center;

  &__triangle {
    width: 100%;
    max-width: 420px;
    position: absolute;
  }
}

@media (min-width: 768px) and (max-width: 1240px) {

  .facts {

    padding-top: 0px;

    &__triangle {
      display: none;
    }
  }
}

@media (min-width: 1240px) {

  .facts {
    padding-top: 6px;

    &__item {
      height: 259px;

      &--bg-blue:first-child {
        padding-top: 0px;
        height: 256px;
      }
    }

    &__triangle {

      display: none;
    }
  }
}
<<<<<<< HEAD
>>>>>>> module4-task1
=======
>>>>>>> 272e74cf0eb883ac7b407ac39b6f253b45b70f86
