.facts-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  text-align: center;

  &__divider {
    margin-top: 26px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__title {
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: @white;
    margin-top: 20px;
    margin-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;

    &--font-black {
      color: @black;
      margin-top: 0px;
      margin-bottom: 8px;
    }
  }

  &__number {
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    margin-top: 0px;
    color: @white;

    &--font-black {
      margin-top: 0px;
      color: @subGrey;
    }
  }

  &__subtitle {
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px;
    margin-bottom: 27px;
    color: @white;
    padding-left: 20px;
    padding-right: 20px;

    &--font-black {
      color: @subGrey;
    }

    &--tablet {
      display: none;
    }
  }

  &__item {
    list-style: none;

      &--overview {
        display: inline-block;
        height: 260px;
        background-image: url("../img/photo-city-mobile@1x.jpg");
        background-position: top center;
        background-size: auto 100%;
        background-repeat: no-repeat;
      }

      &--bridge {
        display: inline-block;
        height: 260px;
        background-image: url("../img/photo-bridge-mobile@1x.jpg");
        background-position: bottom center;
        background-size: auto 100%;
        background-repeat: no-repeat;
      }

      &--town {
        background-color: @bgBlue;
        height: 173px;
        padding-top: 57px;
      }

      &--devils {
        height: 160px;
        padding-top: 19px;
        padding-bottom: 12px;
        background-color: @bgBlue;
      }

      &--comforts {
        height: 416px;
      }

    &--bg-grey {
      padding-top: 27px;
      background-color: @bgGrey;
    }
  }

  &__photo {
    display: block;
    width: 100%;
  }

  &__content {

    &--font-black {

    }
  }
}

@media (max-width: 767px) {
  .facts-list {

    &__item {

      &--town {
        order: -3;
      }

      &--devils {
        order: -2;
      }

      &--bridge {
        order: -1;
      }

      &--overview {
        order: -2;
      }

      &--comforts {
        order: -2;
      }
    }
  }
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {

  .facts-list__item {

    &--bridge {
      background-image: url("../img/photo-bridge-mobile@2x.jpg");
    }

    &--overview {
      background-image: url("../img/photo-city-mobile@2x.jpg");
    }
  }
}

@media (min-width: 768px) and (max-width: 1239px) {

  .facts-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
    margin: 0px;

    &__content {
      padding-left: 14px;
      padding-right: 14px;
      margin: 0px;
    }

    &__title {
      font-size: 21px;
      margin-top: 45px;
      padding-left: 39px;
      padding-right: 38px;

      &--font-black {
        font-size: 21px;
        padding-left: 39px;
        padding-right: 39px;
        margin-top: 43px;
      }
    }

    &__subtitle {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 22px;

      &--font-black {
        margin-top: 22px;
        padding-left: 15px;
        padding-right: 15px;
      }

      &--tablet {
        display: block;
      }
    }

    &__divider {
      display: none;
    }

    &__item {
      height: 256px;
      width: 256px;

      &--town {
        padding-top: 0px;
      }

      &--devils {
        padding: 0;
      }

      &--comforts {
        width: 768px;
        height: 330px;
      }

      &--bg-grey {
        padding-top: 2px;
        height: 233px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 21px;
      }

      &--overview {
        height: 256px;
        width: 512px;
        background-image: url("../img/photo-city-tablet@1x.jpg");
        background-position: center right;
      }

      &--bridge {
        display: block;
        width: 512px;
        height: 256px;
        background-image: url("../img/photo-bridge-tablet@1x.jpg");
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1239px) and (-webkit-min-device-pixel-ratio: 2) {

  .facts-list__item {

    &--bridge {
      background-image: url("../img/photo-bridge-tablet@2x.jpg");
    }

    &--overview {
      background-image: url("../img/photo-city-tablet@2x.jpg");
    }
  }
}

@media (min-width: 1240px) {

  .facts-list {
    flex-direction: row;
    flex-wrap: wrap;

    &__content {
      padding-left: 48px;
      padding-right: 48px;
      margin: 0px;

      &--font-black {
        padding-left: 21px;
        padding-right: 21px;
      }
    }

    &__title {
      font-size: 21px;
      padding-left: 77px;
      padding-right: 76px;
      padding-top: 32px;

      &--font-black {
        padding-top: 45px;
        font-size: 21px;
        padding-left: 100px;
        padding-right: 100px;
      }
    }

    &__subtitle {
      padding-top: 7px;
      padding-left: 35px;
      padding-right: 35px;

      &--font-black {
        padding-top: 0px;
        margin-top: 22px;
        padding-left: 50px;
        padding-right: 50px;
      }

      &--tablet {
        display: block;
      }

      &--mobile {
        display: none;
      }
    }

    &__divider {
      display: none;
    }

    &__item {
      width: 400px;

      &--comforts {
        width: 1200px;
        height: 330px;
      }

      &--devils {
        height: 256px;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      &--town {
        height: 256px;
        padding-top: 0px;
      }

      &--bg-grey {
        padding-top: 0px;
        height: 256px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      &--overview {
        width: 800px;
        height: 256px;
        background-image: url("../img/photo-city@1x.jpg");
        background-position: center right;
        background-size: 100% auto;
      }

      &--bridge {
        width: 800px;
        height: 256px;
        background-image: url("../img/photo-bridge@1x.jpg");
        background-position: center left;
        background-size: 100% auto;
      }
    }
  }
}

@media (min-width: 1240px) and (-webkit-min-device-pixel-ratio: 2) {

  .facts-list__item {

    &--bridge {
      background-image: url("../img/photo-bridge@2x.jpg");
    }

    &--overview {
      background-image: url("../img/photo-city@2x.jpg");
    }
  }
}
