.facts-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  text-align: center;

  &__divider {
    margin-top: 26px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__title {
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: @white;
    margin-top: 20px;
    margin-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;

    &--font-black {
      color: @black;
      margin-top: 0px;
      margin-bottom: 8px;
    }
  }

  &__number {
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    margin-top: 0px;
    color: @white;

    &--font-black {
      margin-top: 0px;
      color: @subGrey;
    }
  }

  &__subtitle {
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px;
    margin-bottom: 27px;
    color: @white;
    padding-left: 20px;
    padding-right: 20px;

    &--font-black {
      margin-bottom: 24px;
      color: @subGrey;
    }

    &--tablet {
      display: none;
    }
  }

  &__item {
    list-style: none;

      &--overview {
        display: inline-block;
        height: 260px;
        background-image: url("../img/photo-city@1x.jpg");
        background-position: top center;
        background-size: auto 100%;
        background-repeat: no-repeat;
      }

      &--bridge {
        display: inline-block;
        height: 259px;
        background-image: url("../img/photo-4-mobile@1x.jpg");
        background-position: bottom right;
        background-size: 100% auto;
        background-repeat: no-repeat;
      }

      &--devils {
        padding-bottom: 12px;
      }

      &--comforts {
        height: 416px;
      }

    &:first-child {
      padding-top: 56px;
      height: 174px;
    }

    &--bg-blue {
      background-color: @bgBlue;
      padding-top: 18px;

      &:first-child {
        padding-top: 56px;
        height: 174px;
      }
    }

    &--bg-grey {
      padding-top: 28px;
      background-color: @bgGrey;
    }
  }

  &__photo {
    display: block;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .facts-list {

    &__item {

      &--bg-blue {
        order: -3;
      }

      &--devils {
        order: -2;
      }

      &--bridge {
        order: -1;
      }

      &--overview {
        order: -2;
      }

      &--comforts {
        order: -2;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1240px) {

  .facts-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
    margin: 0px;

    &__content {
      padding-left: 14px;
      padding-right: 14px;
      margin: 0px;
    }

    &__title {
      font-size: 21px;
      margin-top: 45px;
      padding-left: 23px;
      padding-right: 22px;

      &--font-black {
        font-size: 21px;
        padding-left: 39px;
        padding-right: 39px;
      }
    }

    &__subtitle {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 22px;

      &--font-black {
        margin-top: 22px;
        padding-left: 30px;
        padding-right: 30px;
      }

      &--tablet {
        display: block;
      }
    }

    &__divider {
      display: none;
    }

    &__item {
      height: 256px;
      width: 256px;

      &--comforts {
        width: 768px;
        height: 330px;
      }

      &--overview {
        height: 256px;
      }
      
      &--bg-blue {
        padding-top: 0px;
        padding-bottom: 0px;
      }

      &--bg-blue:first-child {
        padding-top: 0px;
        height: 256px;
      }

      &--bg-grey {
        padding-top: 2px;
        height: 233px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 21px;
      }

      &--overview {
        width: 512px;
        background-image: url("../img/photo-city@1x.jpg");
        background-position: center right;
        background-size: auto 100%;
        background-repeat: no-repeat;
      }

      &--bridge {
        display: block;
        width: 512px;
        height: 256px;
        background-image: url("../img/photo-4-mobile@1x.jpg");
        background-position: bottom right;
        background-size: 100% auto;
        background-repeat: no-repeat;
      }
    }
  }
}

@media (min-width: 1240px) {

  .facts-list {
    flex-direction: row;
    flex-wrap: wrap;
    
    &__content {
      padding-left: 48px;
      padding-right: 48px;
      margin: 0px;

      &--font-black {
        padding-left: 21px;
        padding-right: 21px;
      }
    }

    &__title {
      font-size: 21px;
      padding-left: 77px;
      padding-right: 76px;
      padding-top: 14px;

      &--font-black {
        margin-top: 0px;
        font-size: 21px;
        padding-left: 100px;
        padding-right: 100px;
      }
    }

    &__subtitle {
      padding-top: 7px;

      &--font-black {
        margin-top: 22px;
        padding-left: 30px;
        padding-right: 30px;
      }

      &--tablet {
        display: block;
      }

      &--font-black {
        margin-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
      }
    }

    &__divider {
      display: none;
    }

    &__item {
      width: 400px;

      &--comforts {
        width: 1200px;
        height: 330px;
      }

      &--bg-blue:first-child {
        padding-top: 17px;
        height: 240px;
      }

      &--bg-grey {
        padding-top: 0px;
        height: 235px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &--overview {
        width: calc(1200px * 2 / 3);
        background-image: url("../img/photo-city@1x.jpg");
        background-position: center right;
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 257px;
      }

      &--bridge {
        display: block;
        width: calc(1200px * 2 / 3);
        height: 256px;
        background-image: url("../img/photo-4-mobile@1x.jpg");
        background-position: bottom right;
        background-size: 100% auto;
        background-repeat: no-repeat;
      }
    }
  }
}
