.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid @photoBorderTop;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid @photoBorderTop;
    padding: 20px;
  }

  &__title {
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-top: 9px;
    margin-bottom: 26px;
    line-height: 1.4em;
  }

  &__label {
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 45px;
    line-height: 25px;

      &--test {
      font-family: PTSansBold, Arial, sans-serif;
      text-transform: none;
      font-size: 17px;
      margin-top: 0px;
      margin-bottom: 26px;
      line-height: 41px;

    }

    &--radio:before {
      content: "";
      display: inline-block;
      height: 60px;
      width: 60px;
      margin: 0px 0px -25px 0px;
      background-color: @bgGrey;
      border-radius: 100px;
    }

    &--checkbox:before {
      content: "";
      display: inline-block;
      height: 60px;
      width: 60px;
      margin: 0px 0px -25px 0px;
      background-color: @bgGrey;
      border-radius: 5px;
    }
  }

  &__input {
    display: inline-block;
    border: none;
    background-color: @bgGrey;
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: none;
    font-size: 18px;
  }

  &__textarea {
    margin-bottom: 20px;
  }

  &__submit {
    display: block;
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
       border: none;
    height: 50px;
    background: none;
    display: inline-block;
    color: @white;
    background-color: @bgBlue;
  }

  &__checkbox {
    display: none;
  }

  &__radio {
    display: none;
  }
}
