.gallery {
  margin: 0;
  padding: 0;
  padding-top: 11px;
  width: 320px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1240px) {
  .gallery {
    width: 768px;
    padding-top: 72px;
  }
  .gallery__picture {
    height: 267px;

    &--first {
      height: 400px;
    }
  }
}

@media (min-width: 1240px) {
  .gallery {
    padding: 0px;
    margin: 0px;
    width: 1200px;
    height: 670px;
  }
}
