.form {

  &__checkbox {

    & + .form__label--checkbox::before {
      content: "";
      display: inline-block;
      height: 58px;
      width: 58px;
      background-color: @Grey;
      background-repeat: no-repeat;
      border-radius: 5px;
      position: absolute;
      left: -2px;
      top: -15px;
    }

    & + .form__label--checkbox:hover::before {
      background-color: @inputHov;
    }

    &:checked + .form__label--checkbox:active::before {
      background-color: @inputDown;
    }

    &:checked + .form__label--checkbox::before {
      background-color: @Grey;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:checked + .form__label--checkbox:hover::before {
      background-color: @inputHov;
    }

    &:checked + .form__label--checkbox:active::before {
      background-color: @inputDown;
      background-image: url("../img/icon-tick-grey.svg");
    }
  }

    &__radio {

    & + .form__label--radio::before {
      content: "";
      display: inline-block;
      height: 58px;
      width: 58px;
      background-color: @Grey;
      background-repeat: no-repeat;
      border-radius: 50%;
      position: absolute;
      left: 0px;
      top: -15px;
    }

    & + .form__label--radio:hover::before {
      background-color: @inputHov;
    }

    &:checked + .form__label--radio:active::before {
      background-color: @inputDown;
    }

    &:checked + .form__label--radio::before {
      background-color: @Grey;
      background-image: url("../img/dot.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:checked + .form__label--radio:hover::before {
      background-color: @inputHov;
    }

    &:checked + .form__label--radio:active::before {
      background-color: @inputDown;
      background-image: url("../img/dot-grey.png");
    }
  }

  &__label {

    &--tel::after {
      content: "";
      display: inline-block;
      height: 57px;
      width: 58px;
      background-color: @Grey;
      background-repeat: no-repeat;
      background-image: url("../img/icon-phone.svg");
      background-position: center;
      position: absolute;
      right: 0px;
      bottom: 21px;
    }

    &--email::after {
      content: "";
      display: inline-block;
      height: 57px;
      width: 58px;
      background-color: @Grey;
      background-repeat: no-repeat;
      background-image: url("../img/icon-mail.svg");
      background-position: center;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1239px) {
  .form {

    &__checkbox {

      & + .form__label--checkbox::before {
        left: 33px;
      }
    }

    &__radio {

      & + .form__label--radio::before {
        left: 3px;
        top: -17px;
      }
    }

    &__label {

      &--tel::after {
        right: 0px;
        bottom: 0px;
      }

      &--email::after {
        right: 0px;
      }
    }
  }
}

@media (min-width: 1240px) {
  .form {

    &__label {

      &--tel::after {
        right: 80px;
        bottom: 0px;
      }

      &--email::after {
        right: 0px;
        bottom: 1px;
      }
    }
  }
}
