.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 275px;

  &__title {
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-top: 37px;
    margin-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;

    &--index {
      padding: 0;
      margin-top: 39px;
    }
  }

  &__subtitle {
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
    color: @subGrey;

    &--index {
      margin-top: 19px;
      width: 260px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1239px) {

  .intro {
    width: 440px;

    &__wrap {
      display: none;
    }

    &--index {
      width: 600px;
      margin-bottom: 24px;
    }

    &__title {
      font-size: 21px;
      text-align: center;
      font-size: 30px;
      margin-top: 74px;
      margin-bottom: 17px;
      padding-left: 20px;
      padding-right: 20px
    }

    &__title--index {
      font-size: 21px;
      margin-top: 50px;
      margin-bottom: 15px;
    }

    &__subtitle {
      width: 440px;
    }

    &__subtitle--index {
      width: 550px;
      margin-top: 14px;
    }
  }
}

@media (min-width: 1240px) {

  .intro {
    width:450px;

    &__wrap {
      display: none;
    }

    &--photo {
      width:450px;
    }

    &--index {
      width: 600px;
      margin-bottom: 33px;
    }

    &__title {
      font-size: 21px;
      text-align: center;
      font-size: 30px;
      line-height: 26px;
      margin-top: 112px;
      margin-bottom: 16px;
      padding-left: 20px;
      padding-right: 20px
    }

    &__title--index {
      font-size: 21px;
      margin-top: 50px;
    }

    &__subtitle {
      width: 440px;
    }

    &__subtitle--index {
      margin-top: 12px;
      width: 570px;
    }
  }
}
