.intro {

  &__title {
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-top: 39px;
    margin-bottom: 27px;
  }

  &__subtitle {
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 27px;
	margin: 0;
	padding-left: 20px;
    padding-right: 20px;
  }
}
