.main-nav {
  text-align: center;

  &__items {
    display: block;
    margin: 0;
    padding: 0;
    background-color: @bgNav;
    list-style: none;
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    color: @white;
    text-decoration: none;
    font-family: PTSansBold, Arial, sans-serif;
    font-size: 18px;
	line-height: 54px;
  }

  &__item {
    border-top: 1px solid @navBorderTop;
    border-bottom: 1px solid @navBorderBottom;
    text-align: center;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
