.order {
    display: block;
    text-align: center;

  &__desktop {
    display: none;
  }

  &__title {
    display: block;
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    color: @black;
    margin-top: 29px;
    margin-bottom: 20px;
  }

  &__description {
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 34px;
    color: @subGrey;
    padding-left: 20px;
    padding-right: 20px;
}

  &__button {
    display: block;
    text-align: center;
  }

  &__link {
    display: block;
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    border: none;
    text-decoration: none;
    color: @white;
    background-color: @bgBlue;
    margin-top: 33px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 58px;

    &:hover {
      background-color: @navHov;
    }

    &:active {
      background-color: @navDown;
      color: @butDown;
    }
  }

  &__map {
    display: block;
    margin-top: 49px;
    margin-bottom: 27px;
    width: 320px;
  }

  &__map-marker {
    position: absolute;
    left: 146px;
    top: 161px;
  }

  &__map-google {
    display: block;
    margin-top: 49px;
    margin-bottom: 27px;
    width: 320px;

    &--nojs {
      display: none;
    }
  }

  &__gps {
    position: relative;

    &--js {
      display: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1239px) {

  .order {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;

    &__desktop {
      display: block
    }

    &__title {
      font-size: 30px;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    &__description {
      width: 450px;
      margin-bottom: 28px;
    }

    &__button {
      width: 498px;
      margin-top: 3px;
    }

    &__link {
      margin-top: 11px;
    }

    &__map {
      width: 768px;
      margin-top: 57px;
      margin-bottom: 17px;
    }

    &__map-marker {
      left: 370px;
      top: 221px;
    }

    &__map-google {
      width: 768px;
      margin-top: 57px;
      margin-bottom: 17px;
    }
  }
}

@media (min-width: 1240px) {

  .order {
    display: flex;
    flex-direction: column;
    padding-top: 31px;
    align-items: center;

    &__desktop {
      display: block;
    }

    &__title {
      margin-top: 26px;
      margin-bottom: 16px;
      font-size: 30px;
    }

    &__description {
      width: 450px;
    }

    &__button {
      width: 458px;
    }

    &__link {
      margin: 0;
      margin-top: 13px;
    }

    &__map {
      margin-top: 66px;
      margin-bottom: 19px;
      width: 1200px;
      height: 350px;
    }

    &__map-marker {
      left: 586px;
      top: 228px;
    }

    &__map-google {
      margin-top: 66px;
      margin-bottom: 19px;
      width: 1200px;
      height: 350px;
    }
  }
}
