.page-header {
  text-align: center;

  &__inner {
    position: relative;
    text-align: right;
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.10);
  }

  &__background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto 250%;
    position: relative;
    height: 160px;

    &--index {
      height: 390px;
      align-items: center;
      justify-content: flex-start;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }

  &__toggle {
    height: 56px;
    display: block;
  }

  &__cross {
    outline: none;
    border: none;
    background: none;
    display: inline-block;
    position: absolute;
    top: -223px;
    left: 256px;
    width: 64px;
    height: 58px;
  }

  &__burger {
    outline: none;
    border: none;
    background: none;
    width: 64px;
    height: 58px;

    &--closed {
      display: none;
    }
  }

  &__logo {
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  &__sedona {
    display: block;
    width: 72%;
    margin-top: 52px;
  }

  &__sedona-index {
    display: block;
    width: 88%;
    margin-top: 90px;
  }

  &__triangle {
    position: absolute;
    width: 325px;
    bottom: 0px;
    left: 0;
  }
  
  &__triangle-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 20px;
  }
  
}

@media(max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {

  .page-header__background {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: 768px) and (max-width: 1239px) {

  .page-header {
    width: 768px;

    &__sedona {
      width: 60%;
      margin-top: 94px;
      display: block;
    }

    &__sedona-index {
      width: 458px;
      margin-top: 77px;
    }

    &__inner {
      box-shadow: none;
    }

    &__background {
      background-position: bottom center;
      width: 768px;
      height: 290px;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-size: auto 180%;

      &--index {
        width: auto;
        height: 518px;
        background-position: center;
        background-size: cover;
      }
    }

    &__cross {
      display: none;
    }

    &__burger {
      display: none;
    }

    &__triangle {
      display: block;
      position: absolute;
      width: 775px;
      bottom: 0px;
      left: 0;
    }

    &__triangle-wrapper {
      height: 50px;
    }
  }
}

@media(min-width: 768px) and (max-width: 1239px) and (-webkit-min-device-pixel-ratio: 2) {

  .page-header__background {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
}

@media (min-width: 1240px) {

  .page-header {
    width: 1200px;

    &__sedona {
      display: block;
      width: 38%;
      margin-top: 102px;
    }

    &__sedona-index {
      width: 458px;
      margin-top: 79px;
    }

    &__inner {
      box-shadow: none;
    }

    &__background {
      width: 1200px;
      height: 300px;
      background-size: cover;
      background-image: url("../img/bg-back-desktop@2x.jpg");

      &--index {
        width: auto;
        height: 518px;
        background-position: center;
        background-size: cover;
      }
    }

    &__cross {
      display: none;
    }

    &__burger {
      display: none;
    }

    &__triangle {
      display: block;
      position: absolute;
      width: 1212px;
      bottom: 0px;
      left: 0;
    }

    &__triangle-wrapper {
      height: 50px;
    }
  }
}

@media(min-width: 1240px) and (-webkit-min-device-pixel-ratio: 2) {

  .page-header__background {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}
