.page-footer {

  display: flex;
  flex-direction: column;

  &__tag {
    display: block;
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;

    line-height: 20px;
    color: @black;
    margin-top: 34px;
    margin-bottom: 24px;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 20px;
  }

  &__text {
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;

    font-size: 16px;
    line-height: 20px;
  }

  &__link {
    display: inline-block;
    width: 30px;
    height: 35px;
    background-repeat: no-repeat;
    background-image: url("../img/logo-htmlacademy.svg");
    margin-left: 4px;
    margin-top: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1240px) {

  .page-footer {

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &__tag {
      margin-top: 20px;
    }

    &__copyright {
      margin-top: 5px;
    }

    &__text {

    }
  }
}

@media (min-width: 1240px) {

  .page-footer {

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &__tag {
      margin-top: 20px;
    }

    &__copyright {
      margin-top: 5px;
    }

    &__text {
    }
  }
}
