.page-header {
  text-align: center;

  &__inner {
    position: relative;
    text-align: right;
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.10);
  }

  &__background {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
    height: 160px;

    &--index {
      height: 390px;
      align-items: center;
      justify-content: flex-start;
      width: 320px;
      background-position: top center;
      background-repeat: no-repeat;
    }
  }

  &__toggle {
    height: 56px;
    display: block;
  }

  &__cross {
    border: none;
    background: none;
    display: inline-block;
    position: absolute;
    top: -223px;
    left: 256px;
    width: 64px;
    height: 58px;
    }

  &__burger {
    border: none;
    background: none;
    width: 64px;
    height: 58px;
  }

  &__logo {
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  &__sedona {
    display: block;
    width: 72%;
    margin-top: 52px;
  }

  &__sedona-index {
    display: block;
    width: 88%;
<<<<<<< HEAD
    margin-top: 78px;

=======
	margin-top: 78px;
>>>>>>> 975fbadf6c60b832e2794781211e382eb0a7ae70
  }

  &__triangle {
    position: absolute;
    width: 100%;
    bottom: 0px;
    max-width: 704px;
  }
}

@media (max-width: 768px) {
  .page-header {

    &__triangle-mobile {
        display: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1240px) {

  .page-header {

    &__sedona {
      width: 60%;
      margin-top: 115px;
      display: block;
    }

    &__sedona-index {
      width: 458px;
    }

    &__inner {
      box-shadow: none;
    }

    &__background {
      background-position: bottom right;
      width: 768px;
      height: 290px;

      &--index {
        width: auto;
        height: 518px;
        background-position: center;
        background-size: cover;
      }
    }

    &__cross {
      display: none;
    }

    &__burger {
      display: none;
    }

    &__triangle {
      display: block;
      position: absolute;
      width: 100%;
      bottom: -1px;
      max-width: 704px;
    }

    &__triangle-mobile {
      z-index: 4;
      display: block;
      position: absolute;
      bottom: -20px;
      width: 768px;
      height: 58px;
      transform: scale(1.1,1);
    }
  }
}

@media (min-width: 1240px) {

  .page-header {

    &__sedona {
      display: block;
      width: 40%;
      margin-top: 94px;
    }

    &__sedona-index {
      width: 458px;
    }

    &__inner {
      box-shadow: none;
    }

    &__background {
      width: 1240px;
      height: 290px;
      background-size: cover;


      &--index {
        width: auto;
        height: 518px;
        background-position: center;
        background-size: cover;
      }
    }

    &__cross {
      display: none;
    }

    &__burger {
      display: none;
    }

    &__triangle {
      display: block;
      position: absolute;
      width: 100%;
      bottom: -1px;
      max-width: 704px;
    }

    &__triangle-mobile {
      z-index: 4;
      display: block;
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 92px;
      transform: scale(1.7,1);
    }
  }
}
