.presentation {
  position: relative;
<<<<<<< HEAD
  margin-bottom: 140px;
<<<<<<< HEAD
=======
  
=======
  margin-bottom: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;

>>>>>>> 272e74cf0eb883ac7b407ac39b6f253b45b70f86
  &__video {
    width: 320px;
    height: 200px;
    background-image: url("../img/video-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
<<<<<<< HEAD
>>>>>>> module4-task1
=======
>>>>>>> 272e74cf0eb883ac7b407ac39b6f253b45b70f86

  &__title {
    display: block;
    font-family: PTSansBold, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: @black;
    margin-top: 34px;
    margin-bottom: 11px;
  }

  &__description {
    font-family: PTSans, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 34px;
    color: @subGrey;
  }

  &__player {
    z-index: 2;
    position: absolute;
<<<<<<< HEAD
    top: 313px;
<<<<<<< HEAD
    left: 21px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 94%;
=======
=======
    bottom: -68px;
>>>>>>> 272e74cf0eb883ac7b407ac39b6f253b45b70f86
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
<<<<<<< HEAD
  
  &__screen {
 
>>>>>>> module4-task1
  }
=======
>>>>>>> 272e74cf0eb883ac7b407ac39b6f253b45b70f86

  &__dot {
    z-index: 5;
  }

  &__bar {
    z-index: 3;
    width: 280px;
    height: 44px;
    background-color: fade(@black, 60%);
  }

  &__control-bar {
    display: flex;
    justify-content: flex-start;
    width: 280px;
    height: 66px;
    background-color: @Grey;
  }

  &__item {
    margin-top: 11px;
    margin-right: 22px;
    z-index: 5;
    display: inline-block;
    height: 21px;
    width: 21px;

    &--subtitles {
      height: 20px;
      width: 34px;
      margin-left: 130px;
    }

    &--replay {
      margin-left: 23px;
    }

    &--fullscreen {
      height: 24px;
      width: 21px;
      margin-left: 150px;
    }
  }
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 272e74cf0eb883ac7b407ac39b6f253b45b70f86

@media (min-width: 768px) and (max-width: 1240px) {

  .presentation {
    margin-top: 27px;
    margin-bottom: 66px;
    width: 768px;

    &__title {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 16px;
    }

    &__video {
      margin-top: 48px;
      width: 648px;
      height: 500px;
    }

    &__player {
      bottom: 0px;
      width: 648px;
    }

    &__description {
      width: 370px;
      margin-bottom: 25px;
    }
  }
}

@media (min-width: 1240px) {
  .presentation {
    width: 1200px;
    margin-bottom: 113px;

    &__title {
      font-size: 30px;
      line-height: 30px;
      margin-top: 66px;
      margin-bottom: 14px;
    }

    &__description {
      width: 370px;
      margin-bottom: 70px;
      width: 420px;
    }

    &__video {
      width: 800px;
      height: 500px;
    }

    &__player {
      width: 800px;
      bottom: 0px;
    }
  }
}
<<<<<<< HEAD
>>>>>>> module4-task1
=======
>>>>>>> 272e74cf0eb883ac7b407ac39b6f253b45b70f86
