.social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  &__item {
    position: relative;
    display: inline-block;
    margin-top: 17px;
    margin-left: 3px;
    margin-right: 3px;
  }

  &__icon {
    position: absolute;

    &--twitter {
      top: 16px;
      right: 15px;
    }

    &--facebook {
      top: 13px;
      right: 19px;
    }

    &--youtube {
      top: 17px;
      right: 13px;
    }

    &:active {
      fill: @iconDown;
    }
  }

  &__link {
    width: 46px;
    height: 48px;
    background-color: @bgBlue;
    display: inline-block;
    color: @white;
    fill: @white;

    &:hover {
      background-color: @navHov;
    }

    &:active {
      background-color: @navDown;
    }
  }
}

@media (min-width: 768px) and (max-width: 1239px)  {

  .social {
    margin-right: 8px;
  }
}

@media (min-width: 1240px) {

  .social {
    margin-right: 96px;

    &--form {
      margin-right: 18px;
    }
  }
}
